*.pyc
.idea/
.vscode/

*.log
eggs
dbs
build/
*.egg-info
*.db
*.pid
.ipynb_checkpoints/
.pytest_cache/
.DS_Store
nohup.out
/result*
*.rdb

/temp.py
/debug
dummy*

local*.*
data/
notebook/
lightning_logs/
dist/
conf/
.venv/
